body {
  margin: 0;
  font-family: "Trebuchet MS";
  color: #666666;
  font-size: 15pt;
  /*letter-spacing: -0.5px;*/
  text-align: left;
  background-color: #A0A0A0;
  background: url("/AdvancedRocketry/img/spaceBG.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;  
  box-sizing: border-box;
}

table, th, td {
    border: 1px solid black;
}

#header {
  background: #4a4947 none repeat scroll 0%;
  width: 100%;
  height: 64px;
  margin:auto;
  
}
#header h1 {
  color: #ffffff;
  font-size: 35pt;
  text-shadow: 2px 2px 0.5px rgb(1, 61, 94);
  padding-left:10px;
}

#navigation {
  border: 1px solid #dbdad5;
  background-image: url("example.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 35px;
  text-align: right;*/
}

#navigation ul li {
  /*display: inline;*/
  text-transform: uppercase;
}
#navigation .nav-link {
  border:transparent 4px solid;
  letter-spacing: 1px;
  text-decoration: none;
  color:whitesmoke;
  font-size: 18px;
  text-shadow: 0.5px 0.5px 0.5px #666666;
}
#navigation .nav-link:hover {
  border-top:rgb(1, 61, 94) 4px solid;
  border-bottom:rgb(1, 61, 94) 4px solid;
  color: rgb(1, 61, 94);
  text-shadow: 0.5px 0.5px 3px whitesmoke;
}

#navigation .nav-item{
  font-family: "Trebuchet MS";
}
#navigation .nav-item .active{
  color: rgb(1, 61, 94);  
  text-shadow: 0.5px 0.5px 3px whitesmoke;
  font-weight: bolder;
}

.main {
  background-color: #cccccc;
  padding: 10px;
  border: 1px solid #a9a9a9;
}

.main h2,h3 {
  color: #003864;
}
.main h1 {
  color: #003864;
  font-size: 40pt;
}
/*#content .left p {
  font-size: 12pt;
  vertical-align: top;
}*/

.main blockquote {
  border-left: 3px solid #dbdad5;
  padding: 5px;
  background-color: #f3f2f2;
  color: #7c7b7b;
  text-align: justify;
  font-size: 9pt;
  width: 600px;
  font-style: italic;
}
.main img {
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
  position: relative;
}

.main a {
  color:#005c8f;
}

.main li {
    margin: 16px;
}

.sidebar {
  border: 1px solid #a9a9a9;
  padding: 10px;
  color: #6b7372;
  font-size: 11pt;
  background-color: #cccccc;
}
.sidebar h3 {
  color: #73817f;
  font-size: 16pt;
  font-weight: bold;
  text-transform: uppercase;
}
.sidebar ul {
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.sidebar ol{
  margin-left: 10px;
}
.sidebar li {
  padding: 4px;
  font-size: 16px;
}
.sidebar li a {
  text-decoration: none;
  color: #8a8a8a;
}
.sidebar li a:hover {
  border-bottom: 1px dashed #8a8a8a;
}

.sidebar img{
  max-width: 250px;
}

.sidebarImage{
  height: 128px;
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: -moz-crisp-edges; 
  image-rendering: -o-crisp-edges; 
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.imageGUI{
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: -moz-crisp-edges; 
  image-rendering: -o-crisp-edges; 
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

img.icon {
    height: 32px;
    width: 32px;
    padding: 0px;
    margin: 2px;
    border: none;
}

img.item-icon {
  height: 16px;
  width: 16px;
  padding: 0px;
  margin: 2px;
  border: none;
}


#footer {
  padding: 10px;
  clear: both;
  text-align: center;
  font-size: 8pt;
}
#footer a {
  color: #405b5b;
  text-decoration: none;
}

.main ul {
    list-style: outside disc;
}

.main ul li {
    position: relative;
    padding-right: 1em;
}​

.main ol {
    list-style: outside disc;
}

.main ol li {
    position: relative;
    padding-right: 1em;
    font-style: italic;
}​

#update-title{
  font-weight:bolder;
  font-size:32px;
}

code{
  color:#005c8f;
  font-size:100%;
}

.version .navbar-nav{
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}

#commandList{
  list-style-type: none;
}

@media only screen and (max-width: 720px){
  #header{
    display: none;
  }
}

.configurationBlock{
  border: 1px dashed black; 
  padding-top: 10px;
  padding-bottom: 10px;
  margin:0; 
  background-color: #DDD; 
  overflow:auto;
  color:#005c8f;
}
